.form-buttons
  &-btn
    padding:12px 24px
    outline: none
    border:none
    border-radius:7px
    cursor:pointer
    color: $white
    font-size: 1rem
    font-weight: 500

  &-btn-primary
    border:none
    outline: none
    background: $lapis-lazuli
    margin-left:auto