.form-buttons
  &-btn
    padding:12px 24px
    outline: none
    border:0
    cursor:pointer
    border-radius:8px
    color: $white
    font-size: 1rem
    font-weight: 500

    &-primary
      cursor:pointer
      background: $lapis-lazuli
      margin-left:auto

  
    &-secondary
      padding:10px 0
      font-weight: bold
      color:$lapis-lazuli
      background: none
      border:0
      cursor: pointer
      transition: all 0.3s ease