.card
  $text-color:midnightblue
  $bg-color-card:cadetblue
  height:550px
  width:800px
  color:$text-color
  background-color: $bg-color-card
  &-steps-form-details
    $text-color-1:darkorange
    color:$text-color-1
    font-size:2rem
  
      