@import '../utils/_variables.sass'
@import './buttons.sass'

*, html
  margin:0
  padding:0
  box-sizing: border-box

body
  background-color: $alice-blue
  font-size: 1rem
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

button
  border:none
  outline: 0

#app
  width:100%
  height:100vh
  display: flex
  align-items: center
  justify-content: center
  
.card
  height:550px
  width:800px
  background-color: $ghost-white
  border-radius: 16px
  box-shadow: 0 4px 30px 5px hsla(0, 0%, 0%, 0.08)
  padding:10px
  display: grid
  grid-template-columns: 260px 1fr

  &-steps-container
    width:260px
    height:100%
    border-radius: 10px
    //background: linear-gradient(105deg, $lapis-lazuli, $alice-blue)
    background-image: url('src/assets/images/bg.svg')
    display:flex
    align-items: center
    align-content: center
    gap:16px
    justify-content: space-between

  &-form-details
    padding: 10px 50px
    position:relative
    border:1px solid $cardinal

.steps 
                
    &-description
      padding-top:25px
      h1
        margin-bottom:10px
      
      p
        color:$black
        font-size: 1rem
        margin-bottom:30px

.form-group
  display:flex
  flex-direction: column
  margin-bottom:20px

  &-input 
    width:100%
    height: 44px
    outline:none
    border-radius: 8px
    border:1px solid $beige
    padding:10px 15px
    color:$turquoise
    font-weight: 600

  input[type="text"]:focus
    outline:none
    border:none

  label
    color: $lapis-lazuli
    font-weight: 500
    margin-bottom: 5px


.form-buttons
  position: relative
  width:100%
  margin-top:100px
  display: flex
  align-items: center
  justify-content: space-between
