$thistle: hsla(276, 18%, 78%, 1)
$cardinal: hsla(350, 60%, 48%, 1)
$lapis-lazuli: hsla(204, 44%, 34%, 1)
$turquoise: hsla(174, 68%, 60%, 1)
$cool-gray: hsla(231, 11%, 63%, 1)
$lavender-web: hsla(229, 24%, 87%, 1)
$alice-blue: hsla(216, 100%, 97%, 1)
$ghost-white: hsla(228, 100%, 99%, 1)
$white: hsla(0, 0%, 100%, 1)
$black: hsla(0, 0%, 0%, 1)