$beige: hsla(40, 82%, 65%, 0.85)
$light-beige: hsla(41, 10%, 56%, 0.53)
$cardinal: hsla(350, 60%, 48%, 1)
$lapis-lazuli: hsla(204, 44%, 34%, 1)
//$turquoise: hsla(174, 68%, 60%, 1)
$cool-gray: hsla(231, 11%, 63%, 0.55)
$lavender-web: hsla(229, 24%, 87%, 1)
$alice-blue: hsla(216, 100%, 97%, 1)
$ghost-white: hsla(228, 100%, 99%, 1)
$white: hsla(0, 0%, 100%, 1)
$white-2:hsla(0, 0%, 100%, 0.65)
$black: hsla(0, 0%, 0%, 1)


$text-color:hsla(126, 17%, 12%, 1)
$stone-1:hsla(30, 45%, 75%, 1)
$stone-2:hsla(28, 56%, 68%, 1)