.card-steps-container{
  background-image: url('assets/images/bg.svg');
  background-size:cover;
  background-repeat:no-repeat;
}

.card-steps-mobile{
  background-image: url('assets/images/bg-mobile.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

img.plans-info-mobile-area-label-image{
  width:44px;
  height:44px;
}